# Mac OS X
.DS_Store

# Xcode

## Build generated
/build
DerivedData

## Various settings
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint


## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved
.build
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata/
